.container-fluid {
  padding: 0;
}

@media screen and (min-width: 1140px) {
  .container-max-width {
    max-width: 1325px;
    
  }
}

a {
  text-decoration: none;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

#heading{
  background-color: red;
}


.head-title {
  font-size: 50px;
  padding-bottom: 0px;
  font-family: 'Sanchez', serif;
  font-weight: bold;
  font-size: 60px;
}

.head-subscribe {
  padding: 2px 12px;
  border-radius: 26px;
}

.head-weather::after , .head-subscribe::after {
  content: " >";
}

/* form#page-search {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
} */

#page-search {
  background-image: url("https://g.newsweek.com/www/images/icon-search-glass.svg");
}

#topics>a {
  font-size: 14px;
  font-stretch: extra-expanded;
  color: grey;
}

#section-name {
  font-size: 12px;
  color: #a7a7a7;
  text-transform: uppercase;
}