body{
  background-color:#f4f4f4;
}

.container-fluid {
  padding: 0;
  background-color: white;
}

@media screen and (min-width: 1140px) {
  .container, .container-max-width {
    max-width: 1325px;
  }
}

a {
  text-decoration: none;
}

.card-body h5 a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

#heading{
  background-color: red;
}


.head-title {
  font-size: 50px;
  padding-bottom: 0px;
  font-family: 'Sanchez', serif;
  font-weight: bold;
  font-size: 60px;
}

.head-subscribe {
  padding: 2px 12px;
  border-radius: 26px;
}

.head-weather::after , .head-subscribe::after {
  content: " >";
}

/* form#page-search {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
} */

#page-search {
  background-image: url("https://g.newsweek.com/www/images/icon-search-glass.svg");
}

#topics>a {
  font-size: 14px;
  font-stretch: extra-expanded;
  color: grey;
}

#news #news-section-name {
  font-size: 16px;
  color: #8e8e8e;
  text-transform: uppercase;
}

#news .card-img-top span {
  padding: 6px;
  bottom: 0;
  left: 0;
  color: red;
  background-color: white;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}

#feature-stories .card-img-top img {
  width: 100%;
  height: auto;
}

#news .card-body h5 a {
  color: black;
  font-weight: bolder;
}

#news .card-body p {
  color: #363636;;
  font-weight: lighter;
  font-size: 95%;
}

/* #top-story .card {
  max-width: 506px;
} */

#top-story .card-img-top img {
  width: 100%;
  height: auto;
}

#my-turn .card {
  max-width: 155px;
}

#my-turn .card-body p a {
  color: #8e8e8e;
}

#my-turn .card-body p a:hover {
  text-decoration: none;  
}

#culture .card {
  max-width: 155px;
}

#culture .card-body p a:hover {
  text-decoration: none;  
}

#more-stories a {
  color:black;
  font-weight: bold;
}

#more-stories a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

#more-stories p {
  padding-top: 10px;
  color: #535353;
  font-weight: light;
}

#debate p {
  color: #555;
  font-size: smaller;
  font-weight: bold;
}

#debate a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

#debate #debate-t {
  border-top: 3px solid #d9d9d9;
}

#debate #debate-b {
  border-bottom: 3px solid #d9d9d9;
}

#debate #vs {
  z-index: 1;
  /* position: relative; */
  width: 30px;
  height: 30px;
  margin: auto;
  padding: 5px 0;
  font-size: smaller;
  font-weight: 500;
  text-align: center;
}

#debate #vs-box:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  right: 0;
  display: block;
  height: 1px;
  background-color: #d9d9d9;
}

#debate #vs-box:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  height: 1px;
  background-color: #d9d9d9;
}


#opinion img {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  background-color: red;
}


#opinion a {
  color:black;
  font-weight: bold;
  letter-spacing: -1px;
}

#opinion a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(49, 45, 45);
}

#opinion p {
  padding-top: 10px;
  color: #535353;
  font-weight: light;
  font-size: small;
  letter-spacing: -1px;
}

#magazine .n-logo {
  width: 25px;
  height: 25px;
  padding: 5 5px;
  margin: 0 5px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}

#magazine #section-name {
  font-size: 20px;
}

#magazine #feature-magazine .card-img-top span {
  padding: 6px;
  bottom: 0;
  left: 0;
  color: red;
  background-color: white;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}

#magazine #feature-magazine .card-body {
  border-top: 5px solid white;
}


#magazine #magazine-topic a,
#magazine #focus-magazine a {
  color:black;
  font-weight: bold;
  letter-spacing: -1px;
}

#magazine #magazine-topic a:hover,
#magazine #focus-magazine a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

#magazine #focus-magazine .card-img-top span {
  padding: 6px;
  bottom: 0;
  left: 0;
  color: white;
  background-color: red;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
}